<div class="modal" tabindex="1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Update user full name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/v1/users/user" method="POST">
                <div class="modal-body">
                    <p>Update user full name in database.</p>
                    <p>
                        <input name="fullName" type="text" value="<%= updatedUser.fullName %>">
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="id" value="<%= updatedUser._id %>">
                    <button type="submit" class="btn btn-primary">Update user</button>
                    <a href="/v1/users/user" class="btn btn-secondary">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>