<div class="modal" tabindex="1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create user</h5>
                <a href="/v1/users"></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            </div>
            <form action="/v1/auth/create" method="POST">
                <div class="modal-body">
                    <p>Create.</p>
                    <p class="mb-0">E-mail:</p>
                    <p>
                        <input name="email" type="text">
                    </p>
                    <p class="mb-0">Password:</p>
                    <p>
                        <input name="password" type="text">
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="/v1/users" class="btn btn-secondary">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>