<div class="modal" tabindex="1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/users" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="id" value="<%= deletedUser._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <div class="modal-body">
                    <p>Delete user from database.</p>
                    <h3><%= deletedUser.email %></h3>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-danger">Delete user</button>
                    <a href="/users" class="btn btn-secondary">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>